<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
  <title>Home</title>
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <!-- Stylesheets-->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700%7CLibre+Baskerville:400,400italic,700%7CCourgette">
  <link rel="stylesheet" href="/front/css/bootstrap.css">
  <link rel="stylesheet" href="/front/css/fonts.css">
  <link rel="stylesheet" href="/front/css/style.css">
</head>

<body>
  <div class="preloader">
    <div class="preloader-body">
      <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
      </div>
      <p>Loading...</p>
    </div>
  </div>
  <div class="page text-center">
    <header class="section page-head page-head-default">
      <!--RD Navbar-->
      <div class="rd-navbar-wrap bg-transparent">
        <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
          data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed"
          data-lg-layout="rd-navbar-fullwidth" data-lg-device-layout="rd-navbar-static"
          data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static"
          data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="117px"
          data-xxl-stick-up-offset="117px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
          <div class="rd-navbar-inner">
            <div class="rd-navbar-panel">
              <!-- RD Navbar Toggle-->
              <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"
                type="submit"><span></span></button>
              <!-- RD Navbar Brand-->
              <div class="rd-navbar-brand"><a class="brand-name" href="index.html">ToysShop</a></div>
            </div>
            <div class="rd-navbar-nav-wrap">
              <ul class="rd-navbar-nav">
                <li class="rd-nav-item"><a class="rd-nav-link" href="">活動公告</a></li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="">商品專區</a></li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="">玩家專區</a>
                  <!-- <ul class="rd-menu rd-navbar-dropdown">
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="about-us.html">About Us</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="appointment.html">Make an
                        Appointment</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="services.html">Services</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-service.html">Single
                        Service</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="careers.html">Careers</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="faq.html">FAQ</a>
                    </li>
                    <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="pricing-table.html">Pricing Table</a>
                    </li>
                  </ul> -->
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="#">購物車</a></li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="../admin/login">賣家後台專區</a></li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="contact.html">聯絡我們</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- Swiper-->
    <div class="swiper-container swiper-slider" data-swiper='{"simulateTouch":"false","direction":"vertical"}'>
      <div class="swiper-wrapper">
        <div class="swiper-slide" data-slide-bg="images/side01.png"></div>
        <div class="swiper-slide" data-slide-bg="images/side02.jpg"></div>
        <div class="swiper-slide" data-slide-bg="images/side03.png"></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <section class="section-top-50 section-sm-top-66">
      <div class="container">
        <div class="row row-20 justify-content-md-between">
          <div class="col-sm-12 col-lg-3">
            <h1 class="text-center text-lg-start">強打最新商品</h1>
          </div>
          <div class="col-md-6 d-flex">
            <blockquote class="quote-1 align-middle text-start">
              <p>
                <q class="text-base fst-italic">Browse our gallery and discover the latest works of our artists.</q>
              </p>
            </blockquote>
          </div>
          <div class="col-md-6 col-lg-3 text-center text-md-end d-lg-flex justify-right-md"><a
              class="btn btn-sm btn-primary-variant-1 align-middle-md" href="padding-grid.html">馬上進入商品區</a>
          </div>
        </div>
      </div>
      <!-- PhotoSwipe-->
      <div class="row g-0 offset-md-top-64" data-lightgallery="group">
        <div class="col-sm-6 col-lg-3"><a class="thumbnail-gallery" data-lightgallery="item"
            href="images/index-2-480x351_original.jpg"><img width="480" height="351" src="images/img01.png"
              alt=""></a></div>
        <div class="col-sm-6 col-lg-3"><a class="thumbnail-gallery" data-lightgallery="item"
            href="images/index-3-480x351_original.jpg"><img width="480" height="351" src="images/img02.png"
              alt=""></a></div>
        <div class="col-sm-6 col-lg-3"><a class="thumbnail-gallery" data-lightgallery="item"
            href="images/index-4-480x351_original.jpg"><img width="480" height="351" src="images/img03.png"
              alt=""></a></div>
        <div class="col-sm-6 col-lg-3"><a class="thumbnail-gallery" data-lightgallery="item"
            href="images/index-5-480x351_original.jpg"><img width="480" height="351" src="images/img04.png"
              alt=""></a></div>
      </div>
    </section>
    <section class="text-center text-md-start section-50 section-sm-115 section-sm-bottom-125 bg-lighter">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <div class="img-wrap-3"><img src="images/index-6-563x868.png" width="563" height="868" alt=""></div>
          </div>
          <div class="col-sm-12 col-lg-6">
            <h1 class="text-center">聯絡我們</h1>
            <p class="text-center">We are sure that tattooing will affect your life in a positive way. So why waiting?
            </p>
            <!-- RD Mailform-->
            <form class="rd-mailform text-center offset-top-40 form-contact-line" data-form-output="form-output-global"
              data-form-type="contact" method="post" action="bat/rd-mailform.php">
              <div class="form-wrap">
                <label class="form-label" for="contact-name">Name</label>
                <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
              </div>
              <div class="form-wrap">
                <label class="form-label" for="contact-phone">Phone</label>
                <input class="form-input" id="contact-phone" type="text" name="phone"
                  data-constraints="@Required @Numeric">
              </div>
              <div class="form-wrap">
                <label class="form-label" for="contact-email">E-Mail</label>
                <input class="form-input" id="contact-email" type="email" name="email"
                  data-constraints="@Email @Required">
              </div>
              <div class="form-wrap">
                <label class="form-label" for="contact-message">Message</label>
                <textarea class="form-input" id="contact-message" name="message"
                  data-constraints="@Required"></textarea>
              </div>
              <button class="btn btn-primary-variant-1 btn-sm btn-min-width-lg offset-top-20" type="submit">Send a
                letter</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer class="page-foot">
      <section class="footer-content bg-darker">
        <div class="container">
          <div class="row row-45 text-start">
            <div class="col-md-6 col-xl-3">
              <h3>About Us</h3>
              <p class="letter-spacing-30">Welcome to Tattoo Studio! Our focus is to break the image of the
                stereotypical tattoo parlour, while still remaining true to the roots of a traditional tattoo shop.</p>
              <address class="offset-top-25">
                <dl class="dl-horizontal-mod-1 clearfix">
                  <dt><span class="icon icon-gray icon-sm fa-phone"></span></dt>
                  <dd><a class="link-white" href="tel:#">+1 (234) 56-789</a></dd>
                </dl>
                <dl class="dl-horizontal-mod-1 clearfix">
                  <dt><span class="icon icon-gray icon-xs fa-envelope"></span></dt>
                  <dd><a class="link-white" href="mailto:#">info@demolink.org</a></dd>
                </dl>
                <dl class="dl-horizontal-mod-1 clearfix">
                  <dt><span class="icon icon-gray icon-sm fa-map-marker"></span></dt>
                  <dd><a class="link-white" href="#">267 Park Avenue <br> New York, NY 90210</a></dd>
                </dl>
              </address>
            </div>
            <div class="col-md-6 col-xl-4">
              <h3>Gallery</h3>
              <!-- RD Flickr-->
              <div class="flickr" data-lightgallery="group">
                <div class="flickr-item"><a class="img-thumbnail-variant-3" href="images/footer-gallery-1-original.jpg"
                    data-lightgallery="item"><img src="images/footer-gallery-1-150x150.jpg" alt=""></a></div>
                <div class="flickr-item"><a class="img-thumbnail-variant-3" href="images/footer-gallery-2-original.jpg"
                    data-lightgallery="item"><img src="images/footer-gallery-2-150x150.jpg" alt=""></a></div>
                <div class="flickr-item"><a class="img-thumbnail-variant-3" href="images/footer-gallery-3-original.jpg"
                    data-lightgallery="item"><img src="images/footer-gallery-3-150x150.jpg" alt=""></a></div>
                <div class="flickr-item"><a class="img-thumbnail-variant-3" href="images/footer-gallery-4-original.jpg"
                    data-lightgallery="item"><img src="images/footer-gallery-4-150x150.jpg" alt=""></a></div>
                <div class="flickr-item"><a class="img-thumbnail-variant-3" href="images/footer-gallery-5-original.jpg"
                    data-lightgallery="item"><img src="images/footer-gallery-5-150x150.jpg" alt=""></a></div>
                <div class="flickr-item"><a class="img-thumbnail-variant-3" href="images/footer-gallery-6-original.jpg"
                    data-lightgallery="item"><img src="images/footer-gallery-6-150x150.jpg" alt=""></a></div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <h3>Opening Hours</h3>
              <ul class="list-unstyled">
                <li>
                  <dl class="dl-horizontal-mod-2">
                    <dt>Monday:</dt>
                    <dd class="text-white">8 am-10 pm</dd>
                  </dl>
                </li>
                <li>
                  <dl class="dl-horizontal-mod-2">
                    <dt>Tuesday:</dt>
                    <dd class="text-white">8 am-10 pm</dd>
                  </dl>
                </li>
                <li>
                  <dl class="dl-horizontal-mod-2">
                    <dt>Wednesday:</dt>
                    <dd class="text-white">8 am-10 pm</dd>
                  </dl>
                </li>
                <li>
                  <dl class="dl-horizontal-mod-2">
                    <dt>Thursday:</dt>
                    <dd class="text-white">8 am-10 pm</dd>
                  </dl>
                </li>
                <li>
                  <dl class="dl-horizontal-mod-2">
                    <dt>Friday:</dt>
                    <dd class="text-white">8 am-10 pm</dd>
                  </dl>
                </li>
                <li>
                  <dl class="dl-horizontal-mod-2">
                    <dt>Saturday:</dt>
                    <dd class="text-white">8 am-10 pm</dd>
                  </dl>
                </li>
                <li>
                  <dl class="dl-horizontal-mod-2">
                    <dt>Sunday:</dt>
                    <dd class="text-white">Closed</dd>
                  </dl>
                </li>
              </ul>
            </div>
            <div class="col-md-6 col-xl-2">
              <h3>Useful Links</h3>
              <ul class="list-marked-variant-1">
                <li><a class="link-base" href="services.html">Services</a></li>
                <li><a class="link-base" href="about-us.html">About Us</a></li>
                <li><a class="link-base" href="appointment.html">Appointment</a></li>
                <li><a class="link-base" href="shop-list.html">Shop</a></li>
                <li><a class="link-base" href="contact.html">Contacts</a></li>
                <li><a class="link-base" href="blog-classic.html">Blog</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="copyright bg-darkest">
        <div class="container">
          <div class="row row-10 justify-content-md-between align-items-md-center">
            <div class="col-md-6 col-lg-4 text-md-start">
              <p class="rights"><span>&copy;&nbsp;</span><span
                  class="copyright-year"></span><span>&nbsp;</span><span>Tattoo Studio</span><span>.&nbsp;</span><a
                  class="link-base" href="privacy-policy.html">Privacy Policy</a> <a target="_blank"
                  href="https://www.mobanwang.com/" title="网站模板" class="link-base">网站模板</a></p>
            </div>
            <div class="col-md-6 col-lg-6 text-md-end"><span class="text-white fst-italic">Follow Us:</span>
              <ul class="list-inline">
                <li><a class="icon icon-circle icon-foot fa-facebook" href="#"></a></li>
                <li><a class="icon icon-circle icon-foot fa-twitter" href="#"></a></li>
                <li><a class="icon icon-circle icon-foot fa-google-plus" href="#"></a></li>
                <li><a class="icon icon-circle icon-foot fa-instagram" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </footer>
  </div>
  <!-- Global Mailform Output-->
  <div class="snackbars" id="form-output-global"></div>
  <!-- Java script-->
  <script src="js/core.min.js"></script>
  <script src="js/script.js"></script>
</body>

</html>